
esp_aws_datalog/.pio
esp_aws_datalog/.vscode/.browse.c_cpp.db*
esp_aws_datalog/.vscode/c_cpp_properties.json
esp_aws_datalog/.vscode/launch.json
esp_aws_datalog/.vscode/ipch
esp_aws_datalog/src/env.h


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd


# Debug directory
BootLoader/Debug

Datalogger/Debug